.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
#googleMap {
    height: 100%;
    margin: 0;
    padding: 0;
  }


  code {
    background-color: #ddd;
  }
  .contentWrap {
    padding: 2em;
  }
  .content {
    width: 650px;
    margin: 0 auto;
    min-height: 1250px;
    line-height: 1.5em;
  }
  h1 {
    font-size: 2em;
    line-height: 2em;
  }
  
  .col-sm-2{
    

  }
  /*** Styles for the main header ***/
      #main {
        background-image: linear-gradient(160deg, rgb(188, 188, 208,1), rgb(188, 188, 208,1),rgba(139, 72, 194, 0.3), rgba(0,0,0,0));

        position: relative;
        z-index: 1001;
      }
    ul.nav {
      padding-left: 0;
    }
      /* ul.nav {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
      }
      ul.nav li {
        float: left;
        list-style: none;
        margin: .5em .5em .5em 0;
        padding: .5em .5em .5em 0;
        font-size: 1.5em;
        
      }
      ul.nav li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
      }
      .sidebar-nav li a {
        color: black;
        font-size: 1em;
        font: arial; 
      } */
      .sidebar-nav li a:hover {
        color: #E0461B;
        transition: color 400ms ease-out;
      }
      ul.nav li a:hover {
        color: #E0461B;
        transition: color 400ms ease-out;
      }
      
  /*** Styles for the sticky header ***/
    #stickyContent {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: #E0461B;
    }
    #stickyContent ul.nav li {
      font-size: 1em;
    }
    #stickyContent ul.nav a {
      color: #612717;
    }
    #stickyContent ul.nav .text{
      display: none;
    }






    /* Dropdown Button */
.dropbtn {
  background-color: rgb(188, 188, 208,1);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}







